<h1>GET Request Received!</h1>
<table>
    {{#if queryData}}
    <h2>Query data submitted:</h2>
    {{#each queryData}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.value}}</td>
        </tr>
    {{/each}}
    {{else}}
    <h2>No query data submitted.</h2>
    {{/if}}
</table>